{{! Partial: Comments }}

<section class="comments">
    <button class="comments__title js-comments-show">
        {{> "svg/comment" class="comments__icon"}}
        <span class="comments__label">{{t "View Comments"}}</span>
    </button>
    <div class="comments__disqus">
        <div id="disqus_thread"></div>
    </div>
</section>
