{{! Partial: Header - Stick-Logo for Posts }}

{{!-- <div class="header__content-left header__main blog-title"> --}}

    <span class="blog-title__label">
        <a href="{{@site.url}}" class="blog-title__anchor">{{@site.title}}</a>
    </span>

    {{!-- <span class="blog-title__description">
        blog ✨
    </span> --}}

{{!-- </div> --}}