/**
 *   Content - Element - Block - Paragraph
 */

p {
    margin: $content_spacing_base 0;
    color: inherit;
    font-weight: inherit;
    line-height: 2.12;
    letter-spacing: inherit;
    font-size: inherit;
}
