/**
 *   Content - Element - Inline - Code
 */

code,
kbd,
samp,
var {
    font-family: var(--font-code);
    font-weight: 500;
    display: inline-block;
    margin: 0 calc(#{ $content_spacing_tiny } / 4);
    padding: 0 calc(#{ $content_spacing_tiny } / 2);
    border-radius: 3px;
    background: $color-gray-100;
    -webkit-font-smoothing: auto;
}

p {
    & > code,
    & > kbd,
    & > samp,
    & > var {
        font-size: pxtorem(14);
    }
}

@at-root .theme--dark .post-content {
    code,
    kbd,
    samp,
    var {
        background: $color-gray-800;
    }
}
