    <div class="feed-updates">
        {{!-- {{#get posts limit="all"}} --}}

        {{!-- {{#foreach posts}}
                {{#has tag="updates"}}
                    {{> "loop-updates"}}
                {{/has}}
            {{/foreach}} --}}
        
        <div>
            <h1>2023</h1>
            {{#foreach posts}}
                {{#has tag="updates"}}
                    {{#has tag="2023"}}
                    {{> "loop-updates"}}
                    {{/has}}
                {{/has}}
            {{/foreach}}
        </div>

        <div>
            <h1>2022</h1>
            {{#foreach posts}}
                {{#has tag="updates"}}
                    {{#has tag="2022"}}
                    {{> "loop-updates"}}
                    {{/has}}
                {{/has}}
            {{/foreach}}
        </div>

        {{!-- {{/get}} --}}
    {{pagination}}
    </div>