{{! Partial: Widget - Search }}

<section class="sidebar__widget widget-search">
    <a href="#/search" class="widget-search__form">
        <div type="submit" class="widget-search__button">
            {{> "svg/search" class="widget-search__svg"}}
        </div>
        <div class="widget-search__input">{{t "Search"}}...</div>
    </a>
</section>
