{{! Partial: Widget - Advertisment }}

{{#if @custom.widget_advertisment_embed_code}}
    <section class="sidebar__widget widget-advertisment">
        <div class="widget-advertisment__inner">
            {{{@custom.widget_advertisment_embed_code}}}
        </div>
    </section>
{{/if}}
